<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>大学生网上选课系统</title>
      <!-- 引入 Bootstrap -->
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <link rel="stylesheet" href="../css/courseSystem.css">
      <link rel="stylesheet" href="../css/courseResult.css">
      <link rel="shortcut icon" href="../img/favicon.ico">
      <script src="../js/template-native.js"></script>
</head>
<body>

  <div class="navigation">
    <ul>
      <li><a href="courseAnnunciate.html"><span class="navIcon" id="annunciate"></span><p>选课公告</p></a></li>
      <li><a href="courseResult.html"><span class="navIcon" id="result"></span><p>选课结果</p></a></li>
      <li><a class="active" href="courseDelete.html"><span class="navIcon" id="delete"></span><p>退课</p></a></li>
      <li><a href="mySchedule.html"><span class="navIcon" id="schedule"></span><p>我的课表</p></a></li>
    </ul>
  </div>
  <div class="contain">
    <header><h3>大学生网上选课系统</h3><span><label></label>｜<a href="#" class="safeExit">安全退出</a></span></header>
    <div class="main">
      <div class="white">
      <div class="tab-content">
        <div id="part1" class="tab-pane fade in active">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" 
                     href="#collapseOne">
                    <span class="glyphicon glyphicon-hand-right"></span> 公选课退课情况
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                <div id="openValidTable">
                  
                </div>

          <!-- script 代码添加 开始-->
                <script id="openValidTemplate" type="text/html">
                  <% if (isAdmin) { %>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>序号</th>
                          <th>课程号</th>
                          <th>课程名</th>
                          <th>申请时间</th>
                          <th>状态</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0;i < list.length; i++) { %>
                        <tr id="<%= list[i].id%>">
                          <td><%= i+1 %></td>
                          <td><%= list[i].subject_num %></td>
                          <td><%= list[i].subject_name %></td>
                          <td><%= list[i].time %></td>
                          <td><%= list[i].status %></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <div>
                  <% } %>
                  </script>
            <!-- script 代码添加 结束-->
                 
                </div><!-- panel-body 结束 -->
              </div>
            </div><!-- panel 结束 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" 
                     href="#collapseTwo">
                    <span class="glyphicon glyphicon-hand-right"></span> 实验课退课情况
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                <div id="labTable">
                  
                </div>

          <!-- script 代码添加 开始-->
                <script id="labTemplate" type="text/html">
                  <% if (isAdmin) { %>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>序号</th>
                          <th>课程号</th>
                          <th>课程名</th>
                          <th>申请时间</th>
                          <th>状态</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0;i < list.length; i++) { %>
                        <tr id="<%= list[i].id%>">
                          <td><%= i+1 %></td>
                          <td><%= list[i].subject_num %></td>
                          <td><%= list[i].subject_name %></td>
                          <td><%= list[i].time %></td>
                          <td><%= list[i].status %></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <div>
                  <% } %>
                  </script>
            <!-- script 代码添加 结束-->

              </div>
            </div><!-- panel 结束 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" 
                     href="#collapseThree">
                    <span class="glyphicon glyphicon-hand-right"></span> 方向课退课情况
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">    
                <div id="dirTable">
                  
                </div>

          <!-- script 代码添加 开始-->
                <script id="dirTemplate" type="text/html">
                  <% if (isAdmin) { %>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                     <thead>
                        <tr>
                          <th>序号</th>
                          <th>课程号</th>
                          <th>课程名</th>
                          <th>申请时间</th>
                          <th>状态</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0;i < list.length; i++) { %>
                        <tr id="<%= list[i].id%>">
                          <td><%= i+1 %></td>
                          <td><%= list[i].subject_num %></td>
                          <td><%= list[i].subject_name %></td>
                          <td><%= list[i].time %></td>
                          <td><%= list[i].status %></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <div>
                  <% } %>
                  </script>
            <!-- script 代码添加 结束-->
            
              </div>
            </div><!-- panel 结束 -->
          </div><!-- panel-group 结束-->
        </div><!-- part1 结束 -->
      </div><!-- white 结束 -->
    </div><!-- main 结束 -->
  </div><!-- contain 结束 -->
   <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
   <script src="../bootstrap/js/jquery-3.1.1.min.js"></script>
   <!-- 包括所有已编译的插件 -->
   <script src="../bootstrap/js/bootstrap.min.js"></script>
   <script src="../js/cookies.js"></script>
   <script src="../js/teacher_courseDelete.js"></script>
</body>
</html>