<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>大学生网上选课系统</title>
      <!-- 引入 Bootstrap -->
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <link rel="stylesheet" href="../css/courseSystem.css">
      <link rel="stylesheet" href="../css/peopleList.css">
      <link rel="shortcut icon" href="../img/favicon.ico">
      <script src="../js/template-native.js"></script>
</head>
<body>

  <div class="navigation">
    <ul>
      <li><a href="courseAnnunciate.html"><span class="navIcon" id="annunciate"></span><p>选课公告</p></a></li>
      <li><a class="active" href="courseResult.html"><span class="navIcon" id="result"></span><p>选课结果</p></a></li>
      <li><a href="courseDelete.html"><span class="navIcon" id="delete"></span><p>退课</p></a></li>
      <li><a href="mySchedule.html"><span class="navIcon" id="schedule"></span><p>我的课表</p></a></li>
    </ul>
  </div>
  <div class="contain">
    <header><h3>大学生网上选课系统</h3><span><label></label>｜<a href="#" class="safeExit">安全退出</a></span></header>
    <div class="main">
      
      <div class="white">
        <div id="stuListTable">
          
        </div>
  <!-- script 代码添加 开始-->
        <script id="stuListTemplate" type="text/html">
          <% if (isAdmin) { %>
          <div class="table-responsive" id="peopleTable">
            <table class="table table-bordered table-hover">
              <thead>
              <caption><h3><span></span>学生名单</h3></caption>
               <tr>
                 <th>序号</th>
                 <th>学号</th>
                 <th>姓名</th>
                 <th>性别</th>
                 <th>学院</th>  
                 <th>专业</th>
                 <th>备注</th>
               </tr>
              </thead>
              <tbody>
                <% for (var i = 0;i < list.length; i++) { %>
                <tr id="<%= list[i].id%>">
                  <td><%= i+1 %></td>
                  <td><%= list[i].id %></td>
                  <td><%= list[i].stu_name %></td>
                  <td><%= list[i].stu_sex %></td>
                  <td><%= list[i].stu_collage %></td>
                  <td><%= list[i].stu_major %></td>
                  <td></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } %>
          </script>
    <!-- script 代码添加 结束-->


        <div>
          <button class="btn btn-info" id="print" onclick="printDiv('stuListTable')">打印</button>
        </div>
        <p style="text-align:right;"><< 返回<a href="courseResult.html" style="margin-left:5px;">选课结果</a></p>
      </div><!-- white 结束 -->
    </div><!-- main 结束 -->
  </div><!-- contain 结束 -->
   <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
   <script src="../bootstrap/js/jquery-3.1.1.min.js"></script>
   <!-- 包括所有已编译的插件 -->
   <script src="../bootstrap/js/bootstrap.min.js"></script>
   <script src="../js/cookies.js"></script>
   <script src="../js/peopleList.js"></script>
</body>
</html>