*{
  padding: 0;
  margin:0;
  font-family: "微软雅黑";
}
html{
  height: 100%;
  width: 100%;
  position: relative;
}
body{
  background-color: #F0F4F9;
  position: absolute;
  width: 100%;
  height: auto;
  min-height:700px;
}

/*左边导航*/
.navigation{
  position:absolute;
  left:0;
  top:0;
  width:120px;
  height: 100%;
  background-color: #2b333e;
}
.navigation ul{
  position: fixed;
  top: 50px;
  left: 0;
  width: 120px;
}
.navigation ul,li{
  list-style: none;
}
.navigation li a{
 padding: 1rem;
 display: block;
 text-align: center;
 color: #ACADAE;
 position: relative;
}
.navigation li a:hover,.navigation li a.active{
  background-color: #4B90E4;
  color: #DCF1FA;
  right: -5px;
}
.navigation li a:hover .navIcon,.navigation li a.active .navIcon{
  background-image:url('../img/icon_active.png');
}
.navigation li a:hover #addPeople,.navigation li a.active #addPeople{
  background-image:url('../img/addpeople_active.png');
}
.navigation li .navIcon{
  width: 50px;
  height: 50px;
  display: block;
  margin:.4rem auto;
  background-image:url('../img/icon.png');
}
#annunciate{
  background-position: 0 0;
}
#online{
  background-position: -50px 0;
}
#result{
  background-position: -100px 0;
}
#delete{
  background-position: -200px 0;
}
#schedule{
  background-position: -150px 0;
}
#endChoose{
  background-position: -250px 0;
}
#addPeople{
  background-image: url('../img/addpeople.png');
}
/*内容部分*/
.contain{
  margin-left:120px;
  height: 100%;
}
header{
  height: 50px;
  background-color: white;
  color: #2b333e;
  display: block;
  position: relative;
}
h3{
  margin:0;
  font-size: 20px;
  line-height: 50px;
  padding-left: 1rem;
  letter-spacing: .1em;
}
header span{
  width: 12rem;
  height: 25px;
  display: block;
  position: absolute;
  right: 30px;top: 25px;
  text-align: right;
}
header span label{
  font-size: 1.4rem;
}
.main{
  margin: 30px;
  background-color: #f7f7f7;
}
.main #headNav{
 // width: 60%;
}
.main #headNav a{
  font-size: 1.7rem;
  letter-spacing: .2rem;
}
.main .white{
  background-color: white;
  // padding-top: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/*折叠框*/
.panel-group .panel:not(:first-child) {
    margin-top: 5px;
}
.panel-group .panel{
  border-radius: 0px; 
  border-left: 0;
  border-right: 0;
}
.panel-heading {
  padding: 0;
}
.panel-title a{
  display: block;
  font-weight: 300;
  color: #535252;
  font-size: 1.4rem;
  padding: 10px 15px;
}
.panel-title a[aria-expanded="true"]{
  background-color: white;
  font-weight: 400;
}
.panel-title a span{
  margin: 0 .5rem;
}

.pageNav{
  text-align: center;
}
