.white{
  padding: 2rem;
}
.table > tbody > tr > th{
  vertical-align: middle;
}
th,td{
  white-space: nowrap;
  text-align: center;
}
td[colspan="8"]{
  padding: 8px;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 2rem;
}