.white{
  padding: 2rem;
  white-space: nowrap;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
label{
  font-size: 1.5rem;
}
#typeCourse input{
  position: absolute;
  opacity: 0;
}
#typeCourse .btn-group label,#upFile label[for="inputfile"]{
  padding: 3px 15px;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 200;
}
#typeCourse .btn-group-sm>.btn,#typeCourse .btn,#upFile .btn{
  padding: 0;
}
.btn-group-sm>.btn{
  background-color: #ddd;
  border-radius: 50px;
  border:2px solid #ddd;
}
#openCourse:checked ~ .btn-group .btn:first-child,#labCourse:checked ~ .btn-group .btn:nth-child(2),#dirCourse:checked ~ .btn-group .btn:last-child{
  background-color: white;
}
#openCourse:checked ~ .btn-group .btn:first-child label,#labCourse:checked ~ .btn-group .btn:nth-child(2) label,#dirCourse:checked ~ .btn-group .btn:last-child label{
  font-weight: 500;
}
// #setTimeStart label{
//   padding: 6px 1rem 6px .3rem;
// }
#setTimeStart input{
  width: 240px;
}
#publish,#end{
  width: 250px;
  display: block;
  padding: .6rem;
  font-size: 1.8rem;
  margin: 2rem auto 1rem;
}
#end{
  width: 100px;
}
.filename{
  padding-left: 2rem;
  color: #aaa;
}
.showDiv{
  width: 100%;
  margin: 10px auto;
  padding:5px;
  height: 90px;
  position: relative;
  display: none;
}
.showDiv .glyphicon{
  border-radius: 50%;
  font-size: 3rem;
  float: left;
  height: 100%;
  display:block;
  width:50px;height: 50px;
  position: absolute;
  top: 5px;left: 1rem;
  border:1px solid white;
  text-align: center;
  line-height: 40px;
}
.showLabel{
  font-size: 1rem;
  margin-left: 80px;
}