<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>大学生网上选课系统</title>
      <!-- 引入 Bootstrap -->
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <link rel="stylesheet" href="../css/courseSystem.css">
      <link rel="stylesheet" href="../css/courseResult.css">
      <link rel="shortcut icon" href="../img/favicon.ico">
      <script src="../js/template-native.js"></script>
</head>
<body>

  <div class="navigation">
    <ul>
      <li><a href="publishAunnciate.html"><span class="navIcon" id="annunciate"></span><p>发布通知</p></a></li>
      <li><a href="publishCourse.html"><span class="navIcon" id="online"></span><p>发布选课</p></a></li>
      <li><a href="courseResult.html"><span class="navIcon" id="result"></span><p>选课结果</p></a></li>
      <li><a class="active" href="courseDelete.html"><span class="navIcon" id="delete"></span><p>退课审批</p></a></li>
      <li><a href="endChoose.html"><span class="navIcon" id="endChoose"></span><p>结束选课</p></a></li>
      <!-- <li><a href="addPeople.html"><span class="navIcon" id="addPeople"></span><p>添加人员</p></a></li> -->
    </ul>
  </div>
  <div class="contain">
    <header><h3>大学生网上选课系统</h3><span><label></label>｜<a href="#" class="safeExit">安全退出</a></span></header>
    <div class="main">
      <div class="white">
      <div class="tab-content">
        <div id="part1" class="tab-pane fade in active">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" 
                     href="#collapseOne">
                    <span class="glyphicon glyphicon-hand-right"></span> 公选课课程
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                <div id="openValidTable">
                  
                </div>

          <!-- script 代码添加 开始-->
                <script id="openValidTemplate" type="text/html">
                  <% if (isAdmin) { %>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>课程号</th>
                          <th>课程名</th>
                          <th>学分</th>
                          <th>老师</th>
                          <th>上课地点</th>
                          <th>上课周数</th>
                          <th>上课节数</th>
                          <th>星期</th>
                          <th>状态</th>
                          <th>同意</th>
                          <th>不同意</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0;i < list.length; i++) { %>
                        <tr id="<%= list[i].subject_num%>">
                          <td><%= list[i].subject_num %></td>
                          <td><%= list[i].subject_name %></td>
                          <td><%= list[i].credit %></td>
                          <td data="<%= list[i].teacher_num %>"><%= list[i].teacher_name %></td>
                          <td><%= list[i].place %></td>
                          <td><%= list[i].start_week %>～<%= list[i].end_week %>周</td>
                          <td><%= list[i].course_section %>节</td>
                          <td><%= list[i].course_weekday %></td>
                          <td><%= list[i].status %></td>
                          <td><a href="#" class="Btn agree bg-info" onclick="agree(<%= list[i].subject_num %>,<%= list[i].teacher_num %>)">重新安排</a></td> 
                          <td><a href="#" class="Btn text-danger bg-danger" onclick="disagree(<%= list[i].subject_num %>,<%= list[i].teacher_num %>)">拒绝申请</button></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <div>
                  <% } %>
                  </script>
            <!-- script 代码添加 结束-->

                </div><!-- panel-body 结束 -->
              </div>
            </div><!-- panel 结束 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" 
                     href="#collapseTwo">
                    <span class="glyphicon glyphicon-hand-right"></span> 实验课课程
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                <div id="labTable">
                  
                </div>

          <!-- script 代码添加 开始-->
                <script id="labTemplate" type="text/html">
                  <% if (isAdmin) { %>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>课程号</th>
                          <th>课程名</th>
                          <th>学分</th>
                          <th>老师</th>
                          <th>上课地点</th>
                          <th>上课周数</th>
                          <th>上课节数</th>
                          <th>星期</th>
                          <th>状态</th>
                          <th>同意</th>
                          <th>不同意</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <% for (var i = 0;i < list.length; i++) { %>
                        <tr id="<%= list[i].subject_num%>">
                          <td><%= list[i].subject_num %></td>
                          <td><%= list[i].subject_name %></td>
                          <td><%= list[i].credit %></td>
                          <td data="<%= list[i].teacher_num %>"><%= list[i].teacher_name %></td>
                          <td><%= list[i].place %></td>
                          <td><%= list[i].start_week %>～<%= list[i].end_week %>周</td>
                          <td><%= list[i].course_section %>节</td>
                          <td><%= list[i].course_weekday %></td>
                          <td><%= list[i].status %></td>
                          <td><a href="#" class="Btn agree bg-info" onclick="agree(<%= list[i].subject_num %>,<%= list[i].teacher_num %>)">重新安排</a></td> 
                          <td><a href="#" class="Btn text-danger bg-danger" onclick="disagree(<%= list[i].subject_num %>,<%= list[i].teacher_num %>)">拒绝申请</button></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <div>
                  <% } %>
                  </script>
            <!-- script 代码添加 结束-->

              </div>
            </div><!-- panel 结束 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" 
                     href="#collapseThree">
                    <span class="glyphicon glyphicon-hand-right"></span> 方向课选课
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">    
                <div id="dirTable">
                  
                </div>

          <!-- script 代码添加 开始-->
                <script id="dirTemplate" type="text/html">
                  <% if (isAdmin) { %>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>课程号</th>
                          <th>课程名</th>
                          <th>学分</th>
                          <th>老师</th>
                          <th>上课地点</th>
                          <th>上课周数</th>
                          <th>上课节数</th>
                          <th>星期</th>
                          <th>状态</th>
                          <th>同意</th>
                          <th>不同意</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <% for (var i = 0;i < list.length; i++) { %>
                        <tr id="<%= list[i].subject_num%>">
                          <td><%= list[i].subject_num %></td>
                          <td><%= list[i].subject_name %></td>
                          <td><%= list[i].credit %></td>
                          <td data="<%= list[i].teacher_num %>"><%= list[i].teacher_name %></td>
                          <td><%= list[i].place %></td>
                          <td><%= list[i].start_week %>～<%= list[i].end_week %>周</td>
                          <td><%= list[i].course_section %>节</td>
                          <td><%= list[i].course_weekday %></td>
                          <td><%= list[i].status %></td>
                          <td><a href="#" class="Btn agree bg-info" onclick="agree(<%= list[i].subject_num %>,<%= list[i].teacher_num %>)">重新安排</a></td> 
                          <td><a href="#" class="Btn text-danger bg-danger" onclick="disagree(<%= list[i].subject_num %>,<%= list[i].teacher_num %>)">拒绝申请</button></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <div>
                  <% } %>
                  </script>
            <!-- script 代码添加 结束-->
            
              </div>
            </div><!-- panel 结束 -->
          </div><!-- panel-group 结束-->
        </div><!-- part1 结束 -->
      </div><!-- white 结束 -->
    </div><!-- main 结束 -->
  </div><!-- contain 结束 -->

  <!-- 模态框（Modal） -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
          </button>
          <h4 class="modal-title text-info" id="myModalLabel">
            课程<span></span> <small>重新安排任课教师</small>
          </h4>
        </div>
        <div class="modal-body">
          <select name="teacherNum" id="teacherSelect" class="form-control">

          </select>

           <!-- script 代码添加 开始-->
            <script id="teacherTemplate" type="text/html">
              <% if (isAdmin) { %>
              <% for (var i = 0; i < list.length; i++) { %>
                <option value="<%= list[i].id %>"><%= list[i].teacher_name %></option>
              <% } %>
              <% } %>
            </script>
          <!--script 代码添加 结束  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            关闭
          </button>
          <button type="button" class="btn btn-primary" id="closeModal">
            提交更改
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


   <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
   <script src="../bootstrap/js/jquery-3.1.1.min.js"></script>
   <!-- 包括所有已编译的插件 -->
   <script src="../bootstrap/js/bootstrap.min.js"></script>
   <script src="../js/cookies.js"></script>
   <script src="../js/admin_courseDelete.js"></script>
</body>
</html>